extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Edit Expense

  form(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
    label(class='col-md-2 col-form-label font-weight-bold', for='date') Date
    .col-md-8
        input.form-control(type='text', name='date', id='date', autofocus=true)
    .form-group.row
    label(class='col-md-2 col-form-label font-weight-bold', for='time') Time
    .col-md-8
        input.form-control(type='text', name='time', id='time')
    .form-group.row
    label(class='col-md-2 col-form-label font-weight-bold', for='description') Description
    .col-md-8
        input.form-control(type='text', name='description', id='description')
    .form-group.row
    label(class='col-md-2 col-form-label font-weight-bold', for='amount') Amount
    .col-md-8
        input.form-control(type='text', name='amount', id='amount')
    .form-group.row
    label(class='col-md-2 col-form-label font-weight-bold', for='comment') Comment
    .col-md-8
        input.form-control(type='text', name='comment', id='comment')
    p
    .form-group
      .col-md-8
        a.btn.btn-info.add-new(type='submit')
          | Edit Expense